:root {
    --calculator: grey;
    --btn-border: black;
    --btn-red: lightcoral;
    --btn-blue: lightskyblue;
    --btn-active: #ffd449;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: #b2c3ff;
    display: flex;
    align-items: center;
    justify-content: center;;
    padding: 10px 0px;
    margin-bottom: 50px;
    height: 100px;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#warningMsg {
    height: 20px;
}

.calculator {
    margin-top: 30px;
    width: 500px;
    background-color: var(--calculator);
    border: 2px solid black;
    border-radius: 20px;
}

.screen {
    background-color: #ffffff;
    border-radius: 15px;
    height: 80px;
    width: 430px;
    margin: 40px 40px;
    display: flex;
    align-items: center;
}

#currentOperationScreen {
    background-color: #ffffff;
    margin: 10px;
    font-size: 49px;
    width: 100%;
    text-align: right;
}

.buttons {
    margin: 30px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button.active {
    background-color: var(--btn-active);
}

.span-2 {
    grid-column: span 2;
}

.btn {
    padding: 20px;
    border: 2px solid var(--btn-border);
    border-radius: 5px;
    font-size: 30px;
}

.btn:hover {
    cursor: pointer;
}

.btn-red {
    background-color: var(--btn-red);
}

.btn-blue {
    background-color: var(--btn-blue);
}

#copyright {
    margin-right: 5px;
}

footer {
    background-color: #e8eaff;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fa-github {
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}